@using Website.Models 
@model Website.Models.ProductUpdateViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Product</h2>
<br />

<form asp-controller="Product" asp-action="Update" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="Urun.Id" />

    <div class="form-group row">
        <label asp-for="Urun.SiraNo" class="col-md-1 control-label" style="padding-top:6px">Sıra No :</label>
        <div class="col-md-2">
            <input asp-for="Urun.SiraNo" type="number" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Urun.Adi" class="col-md-1 control-label" style="padding-top:6px">Ürün Adı :</label>
        <div class="col-md-5">
            <input asp-for="Urun.Adi" type="text" class="form-control" required>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Urun.Kodu" class="col-md-1 control-label" style="padding-top:6px">Ürün Kodu :</label>
        <div class="col-md-5">
            <input asp-for="Urun.Kodu" type="text" class="form-control" required>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Urun.DolumHacimi" class="col-sm-1 control-label" style="padding-top:6px;padding-right:7px">Dolum Hacmi :</label>
        <div class="col-md-2">
            <input asp-for="Urun.DolumHacimi" type="number" class="form-control">
        </div>
    </div>




    <div class="form-group row">
        <label asp-for="Urun.SilmeHacimi" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Silme Hacmi :</label>
        <div class="col-md-2">
            <input asp-for="Urun.SilmeHacimi" type="number" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Urun.Boyu" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Ürün Boyu :</label>
        <div class="col-md-2">
            <input asp-for="Urun.Boyu" type="number" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Urun.Capi" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Ürün Çapı :</label>
        <div class="col-md-2">
            <input asp-for="Urun.Capi" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Urun.Agirligi" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Ürün Ağırlığı :</label>
        <div class="col-md-2">
            <input asp-for="Urun.Agirligi" type="number" class="form-control">
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Urun.KafaTipi" class="col-md-1 control-label" style="padding-top:6px">Kafa Tipi :</label>
        <div class="col-md-5">
            <input asp-for="Urun.KafaTipi" type="text" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Urun.PaletSiraSayisi" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Kat Sayısı :</label>
        <div class="col-md-2">
            <input asp-for="Urun.PaletSiraSayisi" type="number" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Urun.TavaUrunAdedi" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Tavadaki Ürün Sayısı :</label>
        <div class="col-md-2">
            <input asp-for="Urun.TavaUrunAdedi" type="number" class="form-control">
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Urun.PaletIcAdedi" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Palet İç Adedi :</label>
        <div class="col-md-2">
            <input asp-for="Urun.PaletIcAdedi" type="number" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Urun.PaletYuksekligi" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Palet Yüksekliği :</label>
        <div class="col-md-2">
            <input asp-for="Urun.PaletYuksekligi" type="number" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Urun.PaletAgirligi" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Palet Ağırlığı :</label>
        <div class="col-md-2">
            <input asp-for="Urun.PaletAgirligi" type="number" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Urun.Aciklama" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Açıklama :</label>
        <div class="col-md-6">
            <input asp-for="Urun.Aciklama" type="text" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Urun.Dil" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Dil :</label>
        <div class="col-md-2">
            <input asp-for="Urun.Dil" type="text" class="form-control" placeholder="tr-TR" required>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Urun.UrunGrupId" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px"> Ürün Grubu :</label>
        <div class="col-md-2">
            <select class="form-control" asp-for="Urun.UrunGrupId" asp-items="@(new SelectList(Model.UrunGrups,"Id","Adi"))">

                <option disabled selected value="">Ürün Grubu Seç</option>
            </select>
        </div>
    </div>



    <div class="form-group row">
        <label asp-for="Urun.Brosur" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Broşür :</label>

        <div class="fileupload fileupload-new col-md-6" data-provides="fileupload">
            <div>
                <span class="btn btn-white btn-file">
                    <input asp-for="Urun.Brosur" type="file" id="file" name="file" class="default">
                </span>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Urun.OneCikanGorsel" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Öne Çıkan Görsel :</label>

        <div class="fileupload fileupload-new col-md-6" data-provides="fileupload">
            <div>
                <span class="btn btn-white btn-file">
                    <input asp-for="Urun.OneCikanGorsel" type="file" id="file2" name="file2" class="default">
                </span>
            </div>
        </div>
    </div>


    <input type="submit" class="btn btn-info" value="Güncelle" />


</form>
