
@{
    ViewData["Title"] = "Baştürkcam - Admin Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!--state overview start-->
<div class="row state-overview">
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol terques">
                <i class="icon-table"></i>
            </div>
            <div class="value">
                <h1 class="count">
                    88
                </h1>
                <p>Ürünler</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol blue">
                <i class="icon-bar-chart"></i>
            </div>
            <div class="value">
                <h1 class=" count4">
                    0
                </h1>
                <p>Haberler</p>
            </div>
        </section>
    </div>

</div>
<!--state overview end-->

<div class="row">
    <div class="col-lg-6">
        <!--custom chart start-->
        <div class="border-head">
            <h3>Eklenen Son 10 Ürün</h3>
        </div>
        <!-- Yalnızda Görsel, ürün adı, ürün kodu, dil olsun -->
        <!--custom chart end-->
    </div>

    <div class="col-lg-6">
        <!--custom chart start-->
        <div class="border-head">
            <h3>Eklenen Son 5 Haber</h3>
        </div>
        <!--custom chart end-->
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <!--user info table start-->
        <section class="panel">
            <h3>İletişim Bilgilerimiz</h3>
            <!-- Fabrika adresi, ofis adresi, mail adresi,telefon numarası vs vs -->
        </section>
        <!--user info table end-->
    </div>
</div>
