
@model Blog
@{
    ViewData["Title"] = "Blog Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Icerik");
    </script>
}
<h3>Blog Ekle</h3>
<br />
<form asp-controller="Blog" asp-action="Create" method="post" enctype="multipart/form-data">



    <div class="form-group row">
        <label asp-for="OneCikanGorsel" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px">Öne Çıkan Görsel :</label>

        <div class="fileupload fileupload-new col-md-6" data-provides="fileupload">
            <div>
                <span class="btn btn-white btn-file">
                    <input asp-for="OneCikanGorsel" type="file" id="img" name="img" class="default">
                </span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="KategoriId" class="col-sm-1 control-label" style="padding-top:6px; padding-right:7px"> Kategori :</label>
        <div class="col-md-2">
            <select class="form-control" asp-for="KategoriId" asp-items="ViewBag.BlogKategoriler">
                <option disabled selected value="">Kategori Seç</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Dil" class="col-md-1 control-label" style="padding-top:6px">Dil :</label>
        <div class="col-md-2">
            <input asp-for="Dil" type="text" class="form-control">
        </div>
    </div>



    <div class="form-group row">
        <label asp-for="Baslik" class="col-md-1 control-label" style="padding-top:6px">Başlık   :</label>
        <div class="col-md-5">
            <input asp-for="Baslik" type="text" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Icerik" class="col-md-1 control-label" style="padding-top:6px">İçerik :</label>
        <div class="col-md-10">
            <textarea asp-for="Icerik" class="form-control"> </textarea>
        </div>
    </div>






    <input type="submit" class="btn btn-info" value="Kaydet" />


</form>

