@model Resim
@{
    ViewData["Title"] = "Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h3>Seçili resimi silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi):
        </dt>
        <dd>
            @Model.Adi
            <img src="~/Img/Galeri/@Model.Adi" alt="">
        </dd>
        
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-default" /> |
        <a asp-controller="Image" asp-action="List">Listeye geri dön.</a>
    </form>
</div>

